@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  max-height: 100vh;
  background-color: rgb(245 245 245 / 5%);
}

.header {
  background-color: rgb(31, 43, 55);

  &__row {
    width: 70%;
    padding: 1.45rem 0;
    margin: 0 auto;
  }

  &__link {
    color: white;
    font-size: 2.3rem;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
  }
}

.main {
  margin-top: 4.2rem;
  max-width: 100%;

  &__inner {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  &__encrypt,
  &__decrypt {
    width: 48%;
  }

  &__encrypt {
    display: inherit;
    flex-direction: column;
    gap: .85rem;

    &-heading {
      font-size: 4.2rem;
    }

    &-text {
      font-size: 1.6rem;
    }
  }

  &__decrypt {
    display: inherit;
    flex-direction: column;
    gap: .85rem;
  }
}

.js {

  &-red-alert {
    color: rgba(185, 28, 28) !important;
  }

  &-hash-result::selection {
    background-color: rgb(6, 65, 48);
    color: rgb(239, 239, 239);
  }

  &-checking-result,
  &-hash-result {
    padding: 1.65rem 0;
  }

  &-checking-result,
  &-hash-result {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(6, 65, 48);
  }
}

.form {
  &__decrypt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__group {
    display: flex;
  }

  &__input-hash {
    width: 100%;
    padding: 1rem 1rem;
    font-family: inherit;
    font-size: 1.45rem;
    border: 1px solid black;
    border-radius: 5px;
  }

  &__input-string {
    width: 72%;
    padding: 1rem 1rem;
    font-family: inherit;
    font-size: 1.45rem;

    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;

    &:focus-visible {
      outline-width: 0;
    }

    &-to-check {
      width: 85%;
    }
  }
}

.btn {
  padding: 1rem 2.5rem;
  font-size: 1.45rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;

  &--encrypt {
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    display: inline-flex;
    margin-left: -.3rem;
  }
}

.form__rounds {
  margin-top: 1.2rem;

  &-text {
    display: inline-block;
    color: rgb(31, 34, 37);
    font-weight: 600;
    font-size: 1.2rem;
  }

  &-number {
    padding: .65rem 0rem;
    text-align: center;
    appearance: textfield;
    -moz-appearance: textfield;
    font-size: 1.65rem;
    font-family: inherit;
    font-weight: 600;
    border: 0;
    background-color: rgb(239, 239, 239);

    &:focus-visible {
      outline-width: 0;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &-element {
    display: flex;
  }

  &-minus {
    border: 0;
    padding: .65rem 1rem;
    cursor: pointer;

    & > span {
      font-size: 1.85rem;
      font-weight: 600;
      color: rgb(75, 85, 99);
    }
  }
}